.feeling-detail {
  background: white;
  flex: 3;
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 50%);
  position: relative;
}

.title {
  width: 360px;
  height: 360px;
  border: solid 8px #000;
  /* border-style: solid;
  border-width: 8px;
  border-color: #000; */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.title>h1 {
  font-family: sans-serif;
  font-size: 48px;
  font-weight: bold;
  font-style: italic;
  margin-left: 20px;
}